<div>
	<div class='row' >
		<div class='col-sm-12 col-md-12'>
			<table>
		  <tbody>
			  <tr ng-repeat="d in data">
				  <td>{{d["Country Name"]}}</td>
					<td>{{d["Country Code"]}}</td>
					<td>{{d["Series Name"]}}</td>
					<td>{{d["Series Code"]}}</td>
					<td>{{d["2000 [YR2000]"]}}</td>
					<td>{{d["2001 [YR2001]"]}}</td>
					<td>{{d["2002 [YR2002]"]}}</td>
					<td>{{d["2003 [YR2003]"]}}</td>
					<td>{{d["2004 [YR2004]"]}}</td>
					<td>{{d["2005 [YR2005]"]}}</td>
					<td>{{d["2006 [YR2006]"]}}</td>
					<td>{{d["2007 [YR2007]"]}}</td>
					<td>{{d["2008 [YR2008]"]}}</td>
					<td>{{d["2009 [YR2009]"]}}</td>
					<td>{{d["2010 [YR2010]"]}}</td>
					<td>{{d["2011 [YR2011]"]}}</td>
					<td>{{d["2012 [YR2012]"]}}</td>
					<td>{{d["2013 [YR2013]"]}}</td>
					<td>{{d["2014 [YR2014]"]}}</td>
					<td>{{d["Most Recent Value [YR20111]"]}}</td>
			  </tr>
		  </tbody>
	  </table>
		</div>
	</div>
</div>
